<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kr328.link.qq">

    <uses-permission android:name="com.github.kr328.intent.permission.INTERCEPT_INTENTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <meta-data android:name="interceptor" android:value="com.github.kr328.link.qq.Interceptor" />
        <meta-data android:name="target" android:value="com.tencent.mobileqq:com.tencent.tim" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.options"
            android:name=".OptionProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>